/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

form h2 {
    margin-bottom: 20 px;
    font-size: 24 px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    padding: 1.5em;
}

input:focus {
    outline-style: none;
    box-shadow: none;
}
  
.status {
    font-size: x-small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul.password-requirements li {
    list-style-type: none;
    margin-top: 0.1em; 
    line-height: 1.5; 
}

ul.password-requirements li:before {
    content: "•";
    font-size: 1.3em;
    margin-right: 0.5em;
}

.btn-custom {
    background-color: black;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #333;
    color: white;
}

.btn-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.form-check-input-custom {
    background-color: #343a40; /* Dark grey color */
    border-color: #343a40;
}
.form-check-input-custom:checked {
    background-color: #343a40;
    border-color: #343a40;
}
.form-check-label-custom {
    color: #343a40;
}



