<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="admin_fragments :: admin_html_head"></head>
<body>

<div class="container-fluid my-2">

    <header th:replace="admin_fragments :: html_header" />

    <h1 class="my-4">Film List</h1>

    <div>
        <a class="btn btn-success" th:href="@{/admin/films/new}">New Film</a>
    </div>

    <div class="table-responsive-md">
        <table class="table table-striped">

            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Release Year</th>
                <th>Category</th>
                <th>Rental Rate</th>
                <th>Description</th>
                <th>Language</th>
                <th>Main Actors</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="film : ${films}" class="my-3">
                <td th:text="${film.filmId}"></td>
                <td th:text="${film.title}"></td>
                <td th:text="${film.releaseYear}"></td>
                <td>
                    <div th:each="category : ${film.categories}">
                        <span th:text="${category.name}"></span>
                    </div>
                </td>
                <td th:text="${film.rentalRate}"></td>
                <td th:text="${film.description}"></td>
                <td th:text="${film.language.name}"></td>
                <td>
                    <div th:each="actor : ${film.actors}">
                        <span th:text="${actor.firstName} + ' ' + ${actor.lastName}"></span>
                    </div>
                </td>
                <td>
                    <a th:href="@{/admin/films/update/{filmId}(filmId=${film.filmId})}"
                       class="btn btn-primary btn-sm">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
