<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body onload="getAllClass()">

    <div class="form-container">
        <form id="customerForm">
            <h2>Customer Information</h2>

            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required maxlength="50">

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required maxlength="50">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required maxlength="50">
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required maxlength="50">

            <button type="submit">Create Customer Account</button>
        </form>
    </div>
    
</body>
<script type="text/javascript">
    function getAllClass(){

        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/v1/categories",
            success: function (data) {
                console.log(data);
            }
        })
    }
    
    function createUserForm(){

    }
</script>
</html>