<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
        crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
<div class="container mt-5 pt-5 d-flex justify-content-center">
    <div class = "col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 p-4 form-container">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="POST">
            <h2 class="text-left">Sign In</h2>

            <div>
                <span class="status text-success float-left ml-1 my-1" id="email_status"></span>
                <input type="email" id="email" class="form-control" name="email" required maxlength="50"
                        placeholder="Email*">
            </div>
            
            <div>
                <span class="status text-success float-left ml-1 my-1" id="password_status"></span>
                <input type="password" id="password" class="form-control" name="password" required maxlength="50"
                        placeholder="Create a Password*">
            </div>

            <button type="submit" class="btn btn-custom btn-block">Create Account</button>
        </form>
    </div>
</div>
</body>
<script type="text/javascript">
$(document).ready(function(){
        
    $("#email").keyup(function(){
        var regx_email = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}(\.[a-zA-Z]{2,6})?$/;

        var email_inp = $(this).val();
        if(regx_email.test(email_inp)) {
            $("#email").removeClass("is-invalid");
            $("#email").addClass("is-valid");
            $("#email_status").removeClass("text-danger");
            $("#email").removeClass("border-danger");
            $("#email_status").text("Valid");
        }
        else {
            $("#email").addClass("is-invalid");
            $("#email_status").addClass("text-danger");
            $("#email").addClass("border-danger");
            $("#email_status").text("Please enter a valid email address.");
        }
    });

    $("#password").keyup(function(){
        var regx_password = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

        var password_inp = $(this).val();
        if(regx_password.test(password_inp)) {
            console.log("pass");
            $("#password").removeClass("is-invalid");
            $("#password").addClass("is-valid");
            $("#password_status").removeClass("text-danger");
            $("#password").removeClass("border-danger");
            $("#password_status").text("Is Valid");
        }
        else {
            $("#password").addClass("is-invalid");
            $("#password_status").addClass("text-danger");
            $("#password").addClass("border-danger");
            $("#password_status").text("Please enter a valid password");
        }
    });
});
</script>
</html>