<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/styles.css}">
</head>
<body>
<div class="container mt-5 pt-5 d-flex justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 p-4 form-container">
        <form id="profile" th:action="@{customer/profile}" method="post">
            <h2 class="text-left">Update Profile</h2>
            <div>
                <span class="status text-success float-left ml-1 my-1" id="first_name_status"></span>
                <input type="text" id="firstName" class="form-control" name="firstName" required maxlength="50"
                       placeholder="First Name*" value="John">
            </div>
            <div>
                <span class="status text-success float-left ml-1 my-1" id="last_name_status"></span>
                <input type="text" id="lastName" class="form-control" name="lastName" required maxlength="50"
                       placeholder="Last Name*" value="Doe">
            </div>
            <div>
                <span class="status text-success float-left ml-1 my-1" id="email_status"></span>
                <input type="email" id="email" class="form-control" name="email" required maxlength="50"
                       placeholder="Email*" value="john.doe@example.com">
            </div>
            
            <div class="mb-4">
                <input type="text" id="address" class="form-control" name="address" required maxlength="50"
                       placeholder="Address*" value="1234 Main St, Anytown, USA">
                <span class="status text-success float-left ml-2 py-1" id="address_status"></span>
            </div>

            <button type="submit" id="buttonUpdate" class="btn btn-custom btn-block">Update Profile</button>
        </form>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/form.js}"></script>
</html>