<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">


<body>

    <div id="site-content">
        <header th:replace="~{fragments :: html_header}"></header>

        <main class="main-content">
            <div class="container">
                <div class="page">
                    <div class="breadcrumbs">
                        <a th:href="@{/home}">Home</a>
                        <span>Premiers</span>
                    </div>

                    <div class="filters">
                        <select id="categorySelect" placeholder="Choose Category">
                            <option th:each="category : ${categoryList}"
                                    th:value="'/films/' + ${category.name}"
                                    th:text="${category.name}"
                                    th:selected="${selectedCategory} == ${category.name}">
                            </option>
                        </select>
                    </div>
                    <div class="movie-list">
                        <div class="movie" th:each="film : ${filmList}">
                            <figure class="movie-poster"><img th:src="${film.logoUrl}" alt="#"></figure>
                            <div class="movie-title"><a th:href="'/films/film/' + ${film.filmId}">[[${film.title}]]</a></div>
                            <p>[[${film.fullText}]]</p>
                        </div>
                    </div>
                </div>
            </div> <!-- .container -->
        </main>

        <footer th:replace="~{fragments :: html_footer}"/>
    </div>
    <!-- Default snippet for navigation -->

    <script>
        $(document).ready(function(){
            $('#categorySelect').on('change', function() {
                var selectedValue = this.value;
                if (selectedValue) {
                    window.location.href = selectedValue;
                }
            });
        })
    </script>
</body>

</html>