<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}" />
<body>
    <div id="site-content">

        <header th:replace="~{fragments :: html_header}"></header>

        <main class="main-content">
            <div class="container">
                <div class="page">
                    <div class="content">
                        <div class="row" th:object="${film}">

                            <div class="col-md-6">
                                <figure class="movie-poster"><img th:src="${film.pictureUrl}" alt="film-image"></figure>
                            </div>

                            <div class="col-md-6">

                                <h2 class="movie-title" th:text="${film.title}"></h2>

                                <div class="movie-summary">
                                    <p th:text="${film.description}"></p>
                                </div>

                                <ul class="movie-meta">
                                    <li><strong>Rating:</strong>
                                        <div class="star-rating"><span th:style="'width:' + (${film.rating} * 20) + '%'"><strong class="rating">[[${film.rating}]]</strong> out of 5</span></div>
                                    </li>
                                    <li><strong>Length: </strong>[[${film.length}]] minutes</li>
                                    <li><strong>Premiere: </strong>[[${film.releaseYear}]] (USA)</li>
                                    <li><strong>Category: </strong>
                                        <span th:each="category : ${film.categories}">[[${category.name}]] </span>
                                    </li>
                                </ul>

                                <ul class="starring">
                                    <strong><span>Actors:</span></strong>
                                    <span th:each="actor, iterStat : ${film.actors}">
                                        <span th:text="${actor.firstName} + ' ' + ${actor.lastName}"></span>
                                        <span th:if="${!iterStat.last}">, </span>
                                    </span>
                                </ul>

                                <!-- Hire this movie button -->
                                <div class="mt-4">
                                    <form th:action="@{/films/film/{filmId}/rent(filmId=${film.filmId})}" method="post">
                                        <button type="submit" class="button mb-2">Hire this Movie</button>

                                        <h5 class="my-2">Select a Store To Pick Up</h5>

                                        <select name="storeId" class="mb-3">
                                            <option th:each="store : ${storeList}"
                                                    th:value="${store.storeId}"
                                                    th:text="${store.address.address}"></option>
                                        </select>

                                        <div th:if="${not_signed_in}" class="text text-danger">
                                            Must Sign In To Proceed
                                        </div>

                                        <div th:if="${out_of_stock}" class="text text-danger">
                                            Out Of Stock For This Film
                                        </div>

                                        <div th:if="${success}" class="text text-success">
                                            Rent Successfully
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div> <!-- .row -->
                    </div>

                    <h3 class="my-4">Relevant Films</h3>

                    <div class="movie-list">
                        <div class="movie" th:each="film : ${relevantFilm}">
                            <figure class="movie-poster"><img th:src="${film.logoUrl}" alt="#"></figure>
                            <div class="movie-title"><a th:href="'/films/film/' + ${film.filmId}">[[${film.title}]]</a></div>
                            <p>[[${film.fullText}]]</p>
                        </div>
                    </div>

                </div>
            </div> <!-- .container -->
        </main>

        <footer th:replace="~{fragments :: html_footer}"/>

    </div>
</body>

</html>
