<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}" />
<body>
    <div id="site-content">

        <header th:replace="~{fragments :: html_header}"></header>

        <main class="main-content">
            <div class="container">
                <div class="page">
                    <div class="content">
                        <div class="row" th:object="${film}">

                            <div class="col-md-6">
                                <figure class="movie-poster"><img th:src="${film.pictureUrl}" alt="film-image"></figure>
                            </div>

                            <div class="col-md-6">

                                <h2 class="movie-title" th:text="${film.title}"></h2>

                                <div class="movie-summary">
                                    <p th:text="${film.description}"></p>
                                </div>

                                <ul class="movie-meta">
                                    <li><strong>Rating:</strong>
                                        <div class="star-rating"><span th:style="'width:' + (${film.rating} * 20) + '%'"><strong class="rating">[[${film.rating}]]</strong> out of 5</span></div>
                                    </li>
                                    <li><strong>Length: </strong>[[${film.length}]] minutes</li>
                                    <li><strong>Premiere: </strong>[[${film.releaseYear}]] (USA)</li>
                                    <li><strong>Category: </strong>
                                        <span th:each="category : ${film.categories}">[[${category.name}]] </span>
                                    </li>
                                </ul>

                                <ul class="starring">
                                    <strong><span>Actors:</span></strong>
                                    <span th:each="actor, iterStat : ${film.actors}">
                                        <span th:text="${actor.firstName} + ' ' + ${actor.lastName}"></span>
                                        <span th:if="${!iterStat.last}">, </span>
                                    </span>
                                </ul>

                                <!-- Hire this movie button -->
                                <div class="mt-4">
                                    <a th:href="@{/hire/{filmId}(filmId=${film.filmId})}" class="button">Hire this Movie</a>
                                </div>

                            </div>
                        </div> <!-- .row -->
                        <div class="related-movies">
                            <h3>Related Movies</h3>
                            <!-- Reserved for Related movies section -->
                        </div>
                    </div>
                </div>
            </div> <!-- .container -->
        </main>

        <footer th:replace="~{fragments :: html_footer}"/>

    </div>
</body>

</html>
